PORT=PORT
CLIENT_URL=frontend_url
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
NODE_ENV=dev/prod
ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_VALIDITY=00m
CRON_SECRET=secret
DOMAIN_ADDRESS=@<domain.suffix>
# cloudinary 
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_KEY_SECRET=your_api_key_secret